.div-scroll {
    overflow-y: auto;
    height: 450px;
    width: 900px;
}

::-webkit-scrollbar {
    width: 0;
}

.text-light {
    color: #fff;
}

@media only screen and (min-width: 1400px) {
    .div-scroll {
        overflow-y: auto;
        height: 600px;
        width: 900px;
    }
}