.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  transition: all ease-in 300ms;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  background-color: #8844ee;
  color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 300ms;
  border-bottom: 2px solid #fff;
}

.card-item:hover {
  transform: scale(0.98);
}

.card-item-content {
  margin-left: 20px;
}

.card-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 3px 0 3px 0;
}
