/*
    Montserrat
    Roboto Mono
*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
  font-family: Roboto Mono, monospace;
}

::-webkit-scrollbar {
  width: 0;
}

.text-light {
  color: #fff;
}
